<section>
	<h1>Tutorias solicitadas</h1>

	<table class="table table-bordered table-hover" style="width: 80%; margin-left: 10%;">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Telefono</th>
				<th>Correo</th>
				<th>Materia Solicitada</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="tutoria in vm.tutorias" ng-if="tutoria.fecha == null">
				<td> {{ tutoria.estudiante.nombre }} </td>
				<td> {{ tutoria.estudiante.apellido }} </td>
				<td> {{ tutoria.estudiante.telefono }} </td>
				<td> {{ tutoria.estudiante.correo }} </td>
				<td> {{ tutoria.ramo.nombre_ramo }} </td>
				<td>
					<a ui-sref="verTutoria({id:tutoria.id})" class="btn btn-danger">Ver Tutoria</a>
					<a ui-sref="actualizarTutoria({id:tutoria.id})" class="btn btn-danger">Realizar Tutoria</a>
				</td>
			</tr>
		</tbody>
	</table>
	<br>

	<a ui-sref="crearTutoria" class="btn btn-danger" style="width: 30%; margin-left: 10%;">Solicitar nueva tutoria</a>
</section>